<library path="src">
  <class name="ServerMonitor" type="action_server_monitor.plot.Plot" base_class_type="rqt_gui_py::Plugin">
    <description>
      A plugin visualizing action server statuses.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>ServerMonitor</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>A plugin visualizing action server statuses.</statustip>
    </qtgui>
  </class>
</library>
